h1{
    padding:2px;
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: normal;
}
#main_style {
    background: white;
    font-family: sans-serif;
    color: black; 
    padding: 1em;
    border: solid black 0px;
    position: relative;
    width: 60%;
    height: 60%; 
    left: 1%;
} 




#main_style1 {
    background: white;
    font-family: sans-serif;
    color: black;
    font-size: 10px;
    border-radius: 0em;
    border: solid black 1px;
    padding: 1em;
    position: absolute;
    width: 45%;
    height: 35%;
    top: 20%;
    left: 1%;
}

#main_style2 {
    background: white;
    font-family: sans-serif;
    color: black;
    font-size: 10px;
    border-radius: 0em;
    border: solid black 1px;
    padding: 1em;
    position: absolute;
    width: 45%;
    height: 35%;
    top: 60%;
    left: 1%;
}

#main_style3 {
    background: white;
    font-family: sans-serif;
    color: black;
    font-size: 10px;
    border-radius: 0em;
    border: solid black 1px;
    padding: 1em;
    position: absolute;
    width: 45%;
    height: 35%;
    top: 20%;
    left: 50%;
}

#main_style4 {
    background: white;
    font-family: sans-serif;
    color: black;
    font-size: 10px;
    border-radius: 0em;
    border: solid black 1px;
    padding: 1em;
    position: absolute;
    width: 45%;
    height: 35%;
    top: 60%;
    left: 50%;
}
